[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
psycopg2-binary = "*"
python = "==3.7.3"
django = "==2.2.6"
whitenoise = "*"
django-crispy-form = "*"

[requires]
python_version = "3.7"
